/*---------- Cart Item -------------------- */

.cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
}

.cart-item img {
    width: 75px;
    height: 75px;
}

.cart-item h4 {
    font-size: 0.85rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
}

.cart-item h5 {
    margin: 0.5rem 0;
    letter-spacing: var(--mainSpacing);
}

.item-amount {
    text-align: center;
}

.remove-item {
    color: grey;
    cursor: pointer;
}

.fa-chevron-up,
.fa-chevron-down {
    color: var(--primaryColor);
    cursor: pointer;
}


/*---------- End of Cart Item -------------------- */

.cart-footer {
    margin-top: 2rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
}

.cart-footer h3 {
    text-transform: capitalize;
    margin-bottom: 1rem;
}


/* --------------- End of Cart ---------------- */